.container {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

